.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
* {
  padding: 0;
  margin: 0;
}
.small {
  width: 100vw;
  height: 100vh;
  background: url(./assets/5.jpeg) center center/cover no-repeat;
  animation: fade 5s infinite;
  font-size: 15px;
  color: #fff;
  padding: 30px;
}
.text {
  margin-top: 30vh;
}
img {
  position: fixed;
  top: 10px;
  right: 30%;
}
@keyframes fade {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
