.container{
  background-color: black;
  width: 100%;
 min-height: 100vh;
 
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.contant_wraper{
  padding: 20px;
  width: 60%;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
  background-color: #fff;
  
}
.title{
 text-align: center;
 font-weight: 800;
 margin-bottom: 50px;
 font-size: 30px;
}
.header{
  text-align: center;
  font-size: 20px;
  word-spacing: 10px;
}
span{
  color: blueviolet;
  font-size: 25px;
}
.center_foto{
display: flex;
justify-content: center;
align-items: center;  
margin-top: 100px;
}
.center_logo{

  height: 400px;
  margin: 0 auto;
}
.document_descr{
  font-size: 20px;
  font-weight: normal;
  word-spacing: 9px;
  margin-top: 50px;
  letter-spacing: 1px;
  display: none;
  padding: 0 70px;
}
.btn{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: red;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 50px;
}